<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago exitoso</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="page-exitoso">
<div class="exito-container">
    <h1 class="msj-exitoso">¡Pago exitoso!</h1>
    <p>Los detalles de la compra será enviadas a su correo.</p>
    <a th:href="@{/public/productos}" class="btn-exitoso">Volver a productos</a>
</div>

<script>
    localStorage.removeItem("carrito");
    alert("Gracias por tu compra. Tu carrito ha sido vaciado.");
</script>
</body>
</html>
