<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PQRS Exitosa</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="page-exitoso">
<div class="exito-container">
    <h1 class="msj-exitoso">¡PQRS exitosa!</h1>
    <p>Gracias por tu mensaje. por favor este atento a su correo gmail para so proxima respuesta</p>
    <a th:href="@{/public/ayuda}" class="btn-exitoso">Volver a PQRS</a>
</div>
</body>
</html>