<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="page-exitoso">
<div class="exito-container">
    <h1 class="msj-exitoso">¡Registro Exitoso!</h1>
    <p>Ahora puedes iniciar sesión con tus credenciales.</p>
    <a th:href="@{/public/index}" class="btn-exitoso">Ir al Inicio de Sesión</a>
</div>
</body>
</html>


