<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Exitosa</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="page-exitoso">
<div class="exito-container">
    <h1 class="msj-exitoso">¡Reserva Exitosa!</h1>
    <p>Los detalles de tu reserva llegarán a tu correo.</p>
    <a th:href="@{/public/reservas}" class="btn-exitoso">Volver</a>
</div>
</body>
</html>
