<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesión Fallida</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="page-exitoso">
<div class="exito-container">
    <h1 class="msj-exitoso">¡Parece que algo ha salido mal!</h1>
    <p>Por favor verifica tu usuario y/o contraseña.</p>
    <a th:href="@{/public/index}" class="btn-exitoso">Iniciar sesión</a>
    <a th:href="@{/public/registrarse}" class="btn-exitoso">Crear cuenta</a>
</div>
</body>
</html>
